section.characters
  //- first title
  h1.title.visually-hidden Rick y motry
  .container
    h2.subtitle Lista de personatges

    ul.characters__list.list-reset
      li.characters__item.characters__item_active
        picture.characters__picture
          source(srcset="https://rickandmortyapi.com/api/character/avatar/1.jpeg")
          img.characters__img( src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" srcset="https://rickandmortyapi.com/api/character/avatar/1.jpeg" alt="image")

        h3.characters__name Rick Sanches
        .characters__specie Human
        .characters__origin Earth (C-137)

      li.characters__item
        picture.characters__picture
          source(srcset="https://rickandmortyapi.com/api/character/avatar/1.jpeg")
          img.characters__img( src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" srcset="https://rickandmortyapi.com/api/character/avatar/1.jpeg" alt="image")

        h3.characters__name Morty Smith
        .characters__specie Human
        .characters__origin Earth (C-137)

      li.characters__item
        picture.characters__picture
          source(srcset="https://rickandmortyapi.com/api/character/avatar/1.jpeg")
          img.characters__img( src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" srcset="https://rickandmortyapi.com/api/character/avatar/1.jpeg" alt="image")

        h3.characters__name Summer Smith
        .characters__specie Human
        .characters__origin uncnow

      li.characters__item
        picture.characters__picture
          source(srcset="https://rickandmortyapi.com/api/character/avatar/1.jpeg")
          img.characters__img( src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" srcset="https://rickandmortyapi.com/api/character/avatar/1.jpeg" alt="image")

        h3.characters__name Beth Smith
        .characters__specie Human
        .characters__origin uncnow
