section.characters
  //- first title
  h1.title.visually-hidden Rick y motry
  .container
    h2.subtitle Lista de personatges

    ul.characters__list.list-reset
      li.characters__item.characters__item_active
        .characters__title
          img.characters__img(srcset='https://rickandmortyapi.com/api/character/avatar/1.jpeg' alt='Rick Sanches')
          h3.characters__name Rick Sanches
        p.characters__info
          span.characters__status.status
            span.colored Status: Alive
          span.characters__specie
            span.colored Specie: Human
          span.characters__origin
            span.colored Last location: Earth (C-137)

      li.characters__item.characters__item_active
        .characters__title
          img.characters__img(srcset='https://rickandmortyapi.com/api/character/avatar/1.jpeg' alt='morty')
          h3.characters__name Morty
        p.characters__info
          span.characters__status.status
            span.colored Status: Alive
          span.characters__specie
            span.colored Specie: Human
          span.characters__origin
            span.colored Last location: Earth (C-137)

      li.characters__item.characters__item_active
        .characters__title
          img.characters__img(srcset='https://rickandmortyapi.com/api/character/avatar/1.jpeg' alt='Rick Sanches')
          h3.characters__name noname
        p.characters__info
          span.characters__status.status.characters__status_dead
            span.colored Status: Dead
          span.characters__specie
            span.colored Specie: Human
          span.characters__origin
            span.colored Last location: Earth (C-137)

      li.characters__item.characters__item_active
        .characters__title
          img.characters__img(srcset='https://rickandmortyapi.com/api/character/avatar/1.jpeg' alt='Rick Sanches')
          h3.characters__name Rick Sanches
        p.characters__info
          span.characters__status.status.characters__status_dead
            span.colored Status: Alive
          span.characters__specie
            span.colored Specie: Human
          span.characters__origin
            span.colored Last location: Earth (C-137)

      li.characters__item.characters__item_active
        .characters__title
          img.characters__img(srcset='https://rickandmortyapi.com/api/character/avatar/1.jpeg' alt='Rick Sanches')
          h3.characters__name Rick Sanches
        p.characters__info
          span.characters__status.status
            span.colored Status: Alive
          span.characters__specie
            span.colored Specie: Human
          span.characters__origin
            span.colored Last location: Earth (C-137)

    .loading

    button.btn.btn-reset.characters__btn Add more +
