doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="theme-color" content="#151413")
    meta(name="description" content="Rick y Morty fan website")
    link(rel="shortcut icon" type="image/png" href="files/favicon.png" sizes="16x16")
    link(rel="shortcut icon" type="image/png" href="files/favicon2.png" sizes="32x32")

    title Rick y Morty

    //- fonts
    link(rel="preload" href="fonts/OpenSans-SemiBold.woff2" as="font" type="font/woff2" crossorigin)
    //- styles
    link(rel="stylesheet", href="css/style.min.css")
    //- scripts
    script(defer src="js/script.min.js")

    //- noscript //- if script is not support
    //-   style .simplebar-content-wrapper {overflow: auto;}
  body
    .wrapper
      //- header
      include html/header.pug

      //- sections
      main.main
        include html/main.pug

      //- aditional btns change theme and to top
      .aditional
        button.aditional__totop.btn-reset.btn(aria-label="go to top" data-to="#header")
          svg.aditional__svg(aria-hidden="true")
            use(xlink:href="img/sprite.svg#totop")
        button.aditional__theme.btn-reset.btn(aria-label="change hteme")
          svg.aditional__svg.aditional__theme_light(aria-hidden="true")
            use(xlink:href="img/sprite.svg#light")
          svg.aditional__svg.aditional__theme_dark(aria-hidden="true")
            use(xlink:href="img/sprite.svg#dark")

      //- footer
      include html/footer.pug

