.logo {
  display: block;
  // max-width: 500px;
  margin: 0 auto;
  margin-bottom: rem(30);
  &__img {
    max-width: 500px;
    max-height: 190px;
    display: block;
  }

  transition: filter 1.5s ease;
  &:hover {
    filter: hue-rotate(300deg);
  }
}

.form {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  &__input {
    width: 100%;
    border: none;
    padding: rem(15);
    border-radius: rem(30);
    background-color: rgba(255, 255, 255, .4);
    color: var(--white);
    // caret-color: black;

    &::placeholder {
      color: var(--white);
    }
  }

  &__btn {
    position: absolute;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
    top: 0;
    right: 0;
    fill: var(--white);
    transform-origin: center center;
    transition-property: fill;
    transition-timing-function: ease;
    transition-duration: .3s;
    &:hover {
      fill: var(--hover);
      // transform: rotateY(180deg);
    }
    &:active {
      fill: var(--active);
      // transform: scale(.9);
    }
  }
  &__svg {
    width: rem(25);
    height: 100%;
  }
}

.main {
  margin-bottom: auto;
}

.characters {
  margin-bottom: rem(30);
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // IE
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-bottom: rem(50);
  }

  &__item {
    min-height: rem(350);
    padding-bottom: rem(20);
    padding-right: rem(20);
    padding-left: rem(20);
    border: 2px solid var(--pasive);
    border-radius: rem(10);
    text-align: center;
    background-color: var(--primary);

    &_active {
      box-shadow: 4px 4px 13px var(--pasive);
    }
  }

  &__picture, &__img {
    display: block;
    width: rem(150);
    height: rem(150);
    margin: 0 auto;
    margin-bottom: rem(15);
    border-radius: 50%;
    transform: translateY(-12px);
  }

  &__name, &__specie {
    margin-bottom: rem(13);
  }

  &__specie {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    &::before {
      width: 15px;
      height: 15px;
      margin-right: rem(7);
      border-radius: 50%;
      content: '';
      animation-duration: 1.5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      background-color: rgb(40, 219, 46);
      animation-name: specieHuman;
    }

    &_other::before {
      background-color: #dd0000;
      animation-name: specieOther;
    }
  }


  &__btn {
    position: relative;
    overflow: hidden;
    display: none;
    margin: 0 auto;
    padding: rem(15) rem(40);
    border: 2px solid var(--pasive);
    font-size: rem(18);
    color: var(--pasive);
    z-index: 2;
    transition-property: color, opacity;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      content: '';
      background-color: var(--pasive);
      z-index: -1;
      transform: translateX(-100%);
      transition: transform .3s ease-in-out;
    }

    &:hover {
      color: var(--primary);
      &::before {
        transform: none;
      }
    }

    &:active {
      opacity: .7;
    }
  }

  &__btn.disabled {
    opacity: .2;
    color: var(--primary);
    cursor: initial;
    &::before {
      transform: translateX(0);
    }
  }
}



@keyframes specieHuman {
  0%{box-shadow: 0 0 3px #47fff6;}
  50%{box-shadow: 0 0 11px #47fff6; background-color:#0ff823;}
  100%{box-shadow: 0 0 3px #47fff6;}
}

@keyframes specieOther {
  0% {
    box-shadow: 0 0 3px red;
  }

  50% {
    box-shadow: 0 0 11px red;
    background-color: #f00000;
  }

  100% {
    box-shadow: 0 0 3px red;
  }
}

.subtitle {
  display: flex;
  gap: 30px;
  margin-bottom: rem(30);
  line-height: rem(38);
  align-items: center;
  font-size: rem(28);
  &::after {
    flex: 1 1 0;
    height: rem(4);
    width: 100%;
    border-radius: rem(2);
    background-color: var(--pasive);
    content: '';
  }
}
