.logo {
  display: block;
  // max-width: 500px;
  margin: 0 auto;
  margin-bottom: rem(30);
  &__img {
    max-width: 500px;
    max-height: 190px;
    display: block;
  }

  transition: filter 1.5s ease;
  &:hover {
    filter: hue-rotate(300deg);
  }
}

.form {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  &__input {
    width: 100%;
    border: none;
    padding: rem(15);
    border-radius: rem(30);
    background-color: rgba(255, 255, 255, .4);
    color: var(--light-theme);

    &::placeholder {
      color: var(--light-theme);
      transition: color .3s ease-in-out;
    }
  }

  &__btn {
    position: absolute;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
    top: 0;
    right: 0;
    fill: var(--light-theme);
    transform-origin: center center;
    transition-property: fill;
    transition-timing-function: ease;
    transition-duration: .3s;
    &:hover {
      fill: var(--hover);
    }
    &:active {
      fill: var(--active);
    }
  }
  &__svg {
    width: rem(25);
    height: 100%;
  }
}

.main {
  margin-bottom: auto;
}

.characters {
  margin-bottom: rem(30);
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // IE
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    margin-bottom: rem(50);
  }

  &__item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 2px solid var(--pasive);
    border-radius: rem(10);
    text-align: left;
    background-color: var(--primary);
    transition-property: border, color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;

    &_active {
      box-shadow: 4px 4px 13px var(--pasive);
    }

    &:hover {
      .characters__img {
        border-radius: 0;
      }
    }
  }

  &__title {
    display: flex;
    margin-bottom: rem(30);
  }

  &__img {
    display: block;
    width: rem(150);
    height: rem(150);
    margin: 0;
    margin-right: 20px;
    border-radius:  0 0 50% 0;
    transition: border-radius .3s ease;
  }

  &__name {
    align-self: center;
    width: 100%;
    padding-top: rem(20);
    padding-right: rem(18);
    text-align: center;
    font-size: rem(22);
  }

  &__info {
    margin-top: auto;
    padding-left: rem(18);
    padding-right: rem(18);
    padding-bottom: rem(35);
  }

  &__specie,
  &__status {
    margin-bottom: rem(13);
  }

  &__specie,
  &__origin {
    display: block;
  }

  &__status {
    display: flex;
    align-items: flex-end;
    gap: 6px;
    width: fit-content;
    &::after {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      content: '';
      animation-duration: 1.5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      background-color: rgb(40, 219, 46);
      animation-name: alive;
    }

    &_dead::after {
      background-color: #dd0000;
      animation-name: dead;
    }
  }

  &__btn {
    position: relative;
    overflow: hidden;
    display: none;
    margin: 0 auto;
    padding: rem(15) rem(40);
    border: 2px solid var(--pasive);
    font-size: rem(18);
    color: var(--pasive);
    z-index: 2;
    transition-property: color, opacity;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      content: '';
      background-color: var(--pasive);
      z-index: -1;
      transform: translateX(-100%);
      transition: transform .3s ease-in-out;
    }

    &:hover {
      color: var(--primary);
      &::before {
        transform: none;
      }
    }

    &:active {
      opacity: .7;
    }
  }

  &__btn.disabled {
    opacity: .2;
    color: var(--primary);
    cursor: initial;
    &::before {
      transform: translateX(0);
    }
  }
}

@keyframes alive {
  0%{box-shadow: 0 0 3px #47fff6;}
  50%{box-shadow: 0 0 11px #47fff6; background-color:#0ff823;}
  100%{box-shadow: 0 0 3px #47fff6;}
}

@keyframes dead {
  0% {
    box-shadow: 0 0 3px red;
  }

  50% {
    box-shadow: 0 0 11px red;
    background-color: #f000b8;
  }

  100% {
    box-shadow: 0 0 3px red;
  }
}

.subtitle {
  display: flex;
  gap: 30px;
  margin-bottom: rem(30);
  line-height: rem(38);
  align-items: center;
  font-size: rem(28);
  &::after {
    flex: 1 1 0;
    height: rem(4);
    width: 100%;
    border-radius: rem(2);
    content: '';
    background-color: var(--pasive);
    transition: background-color .3s ease-in-out;
  }
}
